html {
	font-size: 62.5%;
}

#UteConferenceHeader {
	height: 10%;
	font-size: 8.5rem;
	font-family: copperplate;
	text-align: center;
}

img {
	height: 90%;
	width: auto;
}

#Established {
	font-size: 4rem;
	font-family: brush script MT;
	text-align: center;
	line-height: 0px;
	margin-bottom: 1%;
}

#SeperatingLine {
	border: 4px black solid;
}

#informationContainer {
	margin-top: 2%;
}

#Season {
	font-size: 3.5rem;
	text-align: center;
	font-family: copperplate;
}

#infoButtons {
	margin-top: .5%;
	margin-right: 5%;
	font-size: 1.5rem;
}

#ageInformation {
	text-align: center;
	font-family: copperplate;
	font-size: 2rem;
	color: red;
}

#SeperatingLine2 {
	border: 4px black solid;
	margin-top: 2%
}

#mainContentContainer {
	height: 1000px;
	background: url(Pics/background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;	
	-webkit-filter: grayscale(75%);
	-moz-filter: grayscale(75%);
	filter: grayscale(75%);
}

#sideContentContainer {
	margin-top: 2%;
	background: rgba(0,0,0,0.50);
	border: 4px black solid;
}

#sideContent {
	color: white;
	font-size: 3rem;
	font-family: copperplate;
}